@import '../../../common.styl'

.screenWrapper
  padding 28px
  // display flex
  // justify-content center

.screen
  background white
  coolScrollbar()
  padding 36px
  display flex
  flex-direction column
  align-items center
  gap 14px

.items
  display flex
  flex-direction column
  margin-left 14px

.status
  width 100%
  display flex
  justify-content: space-between
  align-items center

.statusTag
  width 15vw

.itemsList
  display flex

  :first-child
    padding-top 7px
