@import '../../../common.styl'

.screen
  background white
  height 100%
  width 100%
  padding-inline 5vw
  padding-block 2.5vw

.screenWrapper
  background white
  padding-right 5vw
  width 100%

.table
  border-radius 5px
  padding 1vw

.head
  padding-bottom 14px

.row
  display grid
  grid-template-columns 1fr 5fr 6fr 3fr 4fr
  padding 0 20px
  position sticky
  top 0

  div
    text-align: center

.body
  display block

.pagination
  display flex
  align-items center
  justify-content center
  padding-bottom 21px
  
  button
    margin-left 14px
