@import '../../../../../common.styl'

.row
  min-height 64px
  display grid
  grid-template-columns: 1fr 5fr 6fr 3fr 4fr
  padding 10px 20px
  margin 7px 0
  border-radius: 6px
  text-decoration: none
  color $primary-dark

  &:visited
    color $primary-dark

  &:hover
    transform: scale(1.02)
    cursor pointer

  &_first
    background-color: $main-brown

  &_second
    background-color: $second-brown

  div
    display flex
    justify-content: center
    align-items: center

    div
      width 80%

    &:last-child div
      width 100%

.orderNumber
  font-weight 500
  color $primary-dark